In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("C:\\AI_ML\\Projects\\MLOps\\EndtoEnd_MLOps_Project\\gemsotne\\train.csv", encoding = 'utf-8')

df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [8]:
df.shape

(193573, 11)

In [9]:
df['cut'].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [10]:
df.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
176773,176773,1.14,Premium,G,VS1,59.5,58.0,6.82,6.79,4.05,8190
89393,89393,0.54,Ideal,D,SI1,61.9,56.0,5.23,5.19,3.23,1754
54668,54668,2.06,Ideal,H,SI2,61.8,55.0,8.19,8.12,5.05,17179
125256,125256,1.01,Ideal,H,SI1,62.3,57.0,6.39,6.43,3.99,4771
111146,111146,0.41,Ideal,G,SI1,61.9,55.0,4.81,4.78,2.97,827
169518,169518,0.30,Ideal,G,VS2,62.6,53.0,4.25,4.28,2.67,526
42767,42767,1.02,Fair,H,SI1,65.7,58.0,6.30,6.33,4.15,4234
179732,179732,1.20,Very Good,H,VS1,62.7,58.0,6.73,6.77,4.22,6306
143070,143070,1.45,Good,H,VS1,63.8,56.0,7.17,7.11,4.60,10814
47133,47133,0.30,Premium,F,SI1,62.6,58.0,4.31,4.28,2.69,709

In [11]:
df.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [13]:
df.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [14]:
df.drop("id", axis=1, inplace=True)

In [16]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [17]:
df.duplicated().sum()

0

In [18]:
cat_cols = df.columns[df.dtypes == 'object']
num_cols = df.columns[df.dtypes != 'object']

In [19]:
cat_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [20]:
num_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')